.profile-photo {
    display: block;
    margin: auto;
    margin-top: 20px;
    background-image: url("Profile_Photo_Bangladesh_Small.jpeg");
    background-repeat: no-repeat;
    background-size: 120px 120px;
    border-radius: 50%;
}